<%= form_for(@haimai) do |f| %>
  <% if @haimai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@haimai.errors.count, "error") %> prohibited this haimai from being saved:</h2>

      <ul>
      <% @haimai.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
